<div class="row" *ngIf="pdf">
    <div class="col-lg-2 col-md-12 bg-dark m-0" [class.order-2]="menuSide == 2" [class.order-1]="menuSide == 1">
        <div class="row justify-content-center sticky">

            <div class="mt-4 col-lg-12 col-md-6 mb-4">
                <div class="d-flex justify-content-between mb-4">
                    <div class="input-group mr-2">
                        <input class="col-8" type="text" [(ngModel)]="stringToSearch" class="form-control"
                            placeholder="Buscar">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" (click)="search()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="btn-group ml-2" role="group">
                        <button type="button" class="btn btn-sm btn-secondary rounded-left-25"
                            (click)="changeMenuSide(1)"><i class="fas fa-arrow-circle-left"></i></button>
                        <button type="button" class="btn btn-sm btn-secondary rounded-right-25"
                            (click)="changeMenuSide(2)"><i class="fas fa-arrow-circle-right"></i></button>
                    </div>
                </div>

                <div class="d-flex mb-4">
                    <div class="input-group mr-2">
                        <input type="text" [(ngModel)]="page" class="form-control" placeholder="Página">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" (click)="moveToPage()">
                                <i class="fas fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center ml-2">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary rounded-left-25"
                                (click)="setSize((pdf.zoom - 0.25))">
                                <i class="fas fa-search-minus"></i>
                            </button>
                            <button type="button" class="btn btn-secondary rounded-right-25"
                                (click)="setSize((pdf.zoom + 0.25))">
                                <i class="fas fa-search-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="bg-light">

                <div class="d-flex justify-content-center">
                    <ngb-pagination [collectionSize]="pdf.pages_quantity" [(page)]="pdf.page" [maxSize]="4"
                        [ellipses]="false">
                        <ng-template ngbPaginationPrevious>
                            <i class="fas fa-angle-left"></i>
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            <i class="fas fa-angle-right"></i>
                        </ng-template>
                        <ng-template ngbPaginationNumber let-p>
                            {{ (p - 1) }}
                        </ng-template>
                    </ngb-pagination>
                </div>
                <hr class="bg-light mt-0">

                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary rounded-left-25" *ngIf="lastPageSave == pdf.page">
                            <i class="fas fa-save ml-1"></i>
                        </button>
                        <button class="btn btn-primary rounded-left-25" (click)="saveLastPage()"
                            *ngIf="lastPageSave != pdf.page" container="body" placement="top"
                            ngbTooltip="La página no está guardada, guardala para volver a la página actual la proxima vez que te conectes">
                            <i class="far fa-save ml-1"></i>
                        </button>

                        <button class="btn btn-primary" container="body" placement="top" ngbTooltip="Añadir página"
                            (click)="openAddPageModal(addPageModal, pdf.page)">
                            <i class="fas fa-plus"></i>
                        </button>

                        <button class="btn btn-primary rounded-right-25" (click)="markPagesFrontend()" container="body"
                            placement="top" ngbTooltip="Marca la página">
                            <i class="fas fa-directions ml-1"></i>
                        </button>
                    </div>
                </div>

                <div class="mt-4" *ngIf="markedPages && markedPages[0]">
                    <div class="card rounded-25 mt-2" *ngFor="let markedPage of markedPages; let e=index;">
                        <div class="card-body d-flex justify-content-between p-0">
                            <span class="mt-1 mb-1 ml-3 pointer"
                                (click)="openAddPageModal(addPageModal, markedPage)">Página {{ markedPage - 1 }}</span>
                            <button class="btn btn-sm btn-primary rounded-right-25 no-rounded-left"
                                (click)="changePage(markedPage)">
                                <i class="fas fa-book mr-2"></i>
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-6 mb-4 mt-4">
                <div class="accordion">
                    <ng-container *ngFor="let unity of units; let i=index; let fst=first; let lst=last;">
                        <div class="card" [class.rounded-top-25]="fst == true" [class.rounded-bottom-25]="lst == true">
                            <div class="card-header pointer" (click)="collapse(i)">
                                <h3 class="m-1">
                                    Unidad {{ unity.number }}
                                </h3>
                            </div>

                            <div class="collapse show" [ngbCollapse]="isCollapsed(i)">
                                <div class="card-body pb-2 pt-3 pl-2 pr-2">
                                    <ng-container *ngIf="unity.savedPages && unity.savedPages[0]">
                                        <div class="card rounded-25 mb-2 bg-dark"
                                            *ngFor="let savedPage of unity.savedPages; let e=index;">
                                            <div class="card-body text-light d-flex justify-content-between p-0">
                                                <span class="mt-1 mb-1 ml-3 pointer"
                                                    (click)="openNoteModal(noteModal, i , e)">
                                                    <i [class]="savedPagesTypes[savedPage.type].icon + ' mr-2'"></i>
                                                    Página {{ savedPage.page - 1 }}
                                                </span>

                                                <button class="btn btn-sm btn-primary rounded-right-25 no-rounded-left"
                                                    (click)="changePage(savedPage.page)">
                                                    <i class="fas fa-book mr-2"></i>
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="!unity.savedPages || !unity.savedPages[0]">
                                        Cargando....
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-12 mt-4 mb-5" [class.order-2]="menuSide == 1" [class.order-1]="menuSide == 2">
        <pdf-viewer [src]="pdf.src" [(render-text)]="pdf.render_text" [(zoom)]="pdf.zoom"
            [(autoresize)]="pdf.autoresize" [(show-all)]="pdf.show_all" [(show-borders)]="pdf.show_borders"
            [(page)]="pdf.page" [original-size]="false"></pdf-viewer>
    </div>
</div>

<ng-template #addPageModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir página</h5>
        <button type="button" class="close" (click)="closeAddPageModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span class="small">Selecciona la unidad a la que pertenece la página.</span>
        <hr>
        <ng-container *ngFor="let unity of units; let i=index">
            <div class="card rounded-25 mb-3 pointer" [class.bg-dark]="unity.id == units[sUnityIdx].id"
                [class.text-light]="unity.id == units[sUnityIdx].id" (click)="selectUnity(i)">
                <div class="card-body p-1 d-flex">
                    <img src="./assets/images/books.png" class="avatar-sm" alt="">
                    <h2 class="ml-2 mt-2">
                        Unidad {{ unity.number }}
                    </h2>
                </div>
            </div>
        </ng-container>

        <div class="d-flex justify-content-center mb-3">
            <div class="btn-group" role="group">
                <ng-container *ngFor="let type of savedPagesTypes; let i=index">
                    <button class="btn" [class.btn-primary]="i != sTypeIdx" [class.btn-dark]="i == sTypeIdx"
                        container="body" placement="top" [ngbTooltip]="type.tooltip" [class.rounded-left-25]="i == 0"
                        [class.rounded-right-25]="i == 4" (click)="selectType(i)">
                        <i [class]="type.icon"></i>
                    </button>
                </ng-container>
            </div>
        </div>

        <textarea class="form-control mb-3" rows="2" [(ngModel)]="note" placeholder="Nota"></textarea>

        <button class="btn btn-primary btn-block rounded-25" (click)="storePage()">
            <i class="fa fa-save mr-1"></i> Guardar
        </button>
    </div>
</ng-template>

<ng-template #noteModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            <i [class]="savedPagesTypes[units[sUnityIdx].savedPages[sSavedPageIdx].type].icon + ' mr-2'"></i>
            Página {{ units[sUnityIdx].savedPages[sSavedPageIdx].page -1 }}
        </h5>
        <button type="button" class="close" (click)="closeNoteModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isActivatedEdit() == false">
            <p>{{ units[sUnityIdx].savedPages[sSavedPageIdx].note }}</p>
            <button class="btn btn-primary btn-block rounded-25" (click)="enableEdit(1)">
                <i class="fas fa-key"></i> Editar
            </button>
        </ng-container>

        <ng-container *ngIf="isActivatedEdit() == true">
            <div class="d-flex justify-content-center mb-3">
                <div class="btn-group" role="group">
                    <ng-container *ngFor="let type of savedPagesTypes; let i=index">
                        <button class="btn" container="body" placement="top" [ngbTooltip]="type.tooltip"
                            [class.btn-primary]="i != units[sUnityIdx].savedPages[sSavedPageIdx].type"
                            [class.btn-dark]="i == units[sUnityIdx].savedPages[sSavedPageIdx].type"
                            [class.rounded-left-25]="i == 0" [class.rounded-right-25]="i == 4" (click)="changeType(i)">

                            <i [class]="type.icon"></i>
                        </button>
                    </ng-container>
                </div>
            </div>

            <textarea class="form-control mb-3" rows="2"
                [(ngModel)]="units[sUnityIdx].savedPages[sSavedPageIdx].note"></textarea>

            <button class="btn btn-danger btn-block rounded-25" (click)="deletePage()">
                <i class="fas fa-trash"></i> Eliminar
            </button>
            <button class="btn btn-primary btn-block rounded-25" (click)="updatePage()">
                <i class="fas fa-pen"></i> Actualizar
            </button>
        </ng-container>
    </div>
</ng-template>