<div class="container mt-4" *ngIf="exam">
    <div class="card rounded-25">
        <div class="card-body">

            <button class="btn btn-primary rounded-25 btn-sm float-right" (click)="markAsDone()"
                *ngIf="exam.done == false">
                <i class="fas fa-list-alt"></i>
                Marcar como <b>Hecho</b>
            </button>
            <button class="btn btn-primary rounded-25 btn-sm float-right" (click)="markAsDone()"
                *ngIf="exam.done == true">
                <i class="fas fa-list-alt"></i>
                Marcar como <b>Sin Hacer</b>
            </button>

            <h1>
                <i class="fas fa-check-circle text-primary mt-1" [class.fas]="exam.done == true"
                    [class.far]="exam.done == false">
                </i>
                {{ exam.title }}
            </h1>
            <hr>
            <p [innerHtml]="exam.description"></p>
        </div>
    </div>
</div>