<div class="container mt-4" *ngIf="exam">
  <div class="card rounded-25">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h1>
          <i class="far fa-check-circle text-primary mt-1 pointer" (click)="markAsDone()"
            *ngIf="exam.done == false"></i>
          <i class="fas fa-check-circle text-primary mt-1 pointer" (click)="markAsDone()" *ngIf="exam.done == true"></i>
          {{ exam.title }}
        </h1>
        <span>
          Examen <span class="text-primary">{{ daysRemaining() }}</span>
        </span>
      </div>

      <hr>
      <div class="row">
        <div class="col-lg-10 col-md-8 col-sm-12">
          <p [innerHtml]="exam.description"></p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="card rounded-25">
            <div class="card-body pt-2 pb-1 d-flex justify-content-center">
              <h1 *ngIf="exam.mark !== null"><span class="text-primary">{{ exam.mark }}</span> / 10</h1>
              <h1 class="text-warning" *ngIf="exam.mark == null">Sin Asignar</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>