<div class="card rounded-25" *ngIf="loading == false">
  <div class="card-body" *ngIf="editMode == true">
    <button class="btn btn-secondary rounded-25 float-right ml-2" (click)="goBack()" *ngIf="step > 1">
      <i class="fas fa-chevron-circle-left mr-2"></i>Atras
    </button>
    <ng-container *ngIf="step == 1">
      <h3>Paso 1 de 3 | <b>Estudios</b></h3>
      <hr class="bg-light mt-1">

      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th class="pointer" (click)="createStudy()">
              Añadir <i class="fas fa-plus text-primary ml-1"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let study of studies; let i=index">
            <td>{{ i + 1 }}</td>
            <td>
              <input type="text" class="form-control mb-2" [(ngModel)]="study.name" />
            </td>
            <td>
              <ng-container *ngIf="study.id == 0">
                <button class="btn btn-primary rounded-25 mr-2" (click)="storeStudy(study, i)"
                  [disabled]="study.name == ''">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger rounded-25" (click)="deleteStudyFront(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="study.id > 0">
                <button class="btn btn-secondary rounded-25 mr-2" (click)="updateStudy(study, i)">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn btn-danger rounded-25" (click)="deleteStudy(study.id, i)">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
              <button class="btn btn-primary rounded-25 float-right" (click)="selectStudy(i)">
                Seleccionar <i class="fas fa-sign-in-alt ml-1"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="step == 2">
      <h3>Paso 2 de 3 | <b>Años</b></h3>
      <hr class="bg-light mt-1">

      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>#</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th class="pointer" (click)="createYear()">
              Añadir <i class="fas fa-plus text-primary ml-1"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let year of studies[sStudyIdx].years; let i=index">
            <td>{{ i + 1 }}</td>
            <td style="width: 150px;">
              <ngb-datepicker [(ngModel)]="year.start"></ngb-datepicker>
            </td>
            <td style="width: 150px;">
              <ngb-datepicker [(ngModel)]="year.end"></ngb-datepicker>
            </td>
            <td>
              <ng-container *ngIf="year.id == 0">
                <button class="btn btn-primary rounded-25 mr-2" (click)="storeYear(year, i)"
                  [disabled]="year.start == null || year.end == null">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger rounded-25" (click)="deleteYearFront(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="year.id > 0">
                <button class="btn btn-secondary rounded-25 mr-2" (click)="updateYear(year, i)">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn btn-danger rounded-25" (click)="deleteYear(year.id, i)">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
              <button class="btn btn-primary rounded-25 float-right" (click)="selectYear(i)">
                Seleccionar <i class="fas fa-sign-in-alt ml-1"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="step == 3">
      <h3>Paso 3 de 3 | <b>Evaluaciones</b></h3>
      <hr class="bg-light mt-1">

      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>#</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th class="pointer" (click)="createEvaluation()">
              Añadir <i class="fas fa-plus text-primary ml-1"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evaluation of studies[sStudyIdx].years[sYearIdx].evaluations; let i=index">
            <td>{{ i + 1 }}</td>
            <td style="width: 150px;">
              <ngb-datepicker [(ngModel)]="evaluation.start"></ngb-datepicker>
            </td>
            <td style="width: 150px;">
              <ngb-datepicker [(ngModel)]="evaluation.end"></ngb-datepicker>
            </td>
            <td>
              <ng-container *ngIf="evaluation.id == 0">
                <button class="btn btn-primary rounded-25 mr-2" (click)="storeEvaluation(evaluation, i)"
                  [disabled]="evaluation.start == null || evaluation.end == null">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger rounded-25" (click)="deleteEvaluationFront(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="evaluation.id > 0">
                <button class="btn btn-secondary rounded-25 mr-2" (click)="updateEvaluation(evaluation, i)">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn btn-danger rounded-25" (click)="deleteEvaluation(evaluation.id, i)">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>

  <ng-container *ngIf="editMode == false">
    <div class="card-body" *ngFor="let study of studies; let i = index">
      <div class="card border border-primary rounded-25">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./assets/images/study.png" class="card-img rounded-left-25 no-rounded-right" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{ study.name }}</h5>
              <hr class="bg-light">

              <div class="card-text">
                <div class="row">
                  <div class="col" *ngFor="let year of study.years; let e=index">
                    <div class="card rounded-10">
                      <div class="card-body p-2 d-flex justify-content-center align-items-center">
                        <div class="font-weight-bold" style="font-size: 40px">
                          {{ e + 1 }}º
                        </div>
                      </div>
                      <button class="btn btn-primary rounded-bottom-10 no-rounded-top"
                        (click)="changeYear(year.id)">Seleccionar
                        <i class="fas fa-hand-pointer"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <button class="btn btn-block btn-secondary rounded-bottom-25 no-rounded-top" (click)="editMode = !editMode">
    <i class="fas fa-edit" [class.fa-edit]="editMode == false" [class.fa-eye]="editMode == true"></i>
  </button>
</div>