<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="accordion" data-aos="zoom-in" *ngIf="subjects">
                <ng-container *ngFor="let subject of subjects; let i=index; let fst=first; let lst=last;">
                    <div class="card" [class.rounded-top-25]="fst == true" [class.rounded-bottom-25]="lst == true">
                        <div class="card-header pointer d-flex justify-content-between">
                            <h3 class="col-lg-11 m-1" (click)="collapse(subject.id)">
                                {{ subject.name }}
                            </h3>
                            <button class="col-lg-1 btn btn-sm btn-primary rounded-25"
                                [routerLink]="['/subject', subject.id]">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                        <div class="collapse show" [ngbCollapse]="isCollapsed(subject.id)">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <b>Tareas</b>
                                        <hr class="mt-1">
                                        <div class="card rounded-25 mb-2" *ngFor="let task of subject.tasks; let e=index"
                                            data-aos="zoom-in">
                                            <div class="card-body d-flex justify-content-between pb-1 pt-1" *ngIf="task.id != 0">
                                                <div class="col-lg-10 pointer pl-0" [routerLink]="['/task/', task.id]">
                                                    <span>{{ task.title }}</span>
                                                </div>

                                                <i class="fas fa-check-circle text-primary mt-1 pointer"
                                                    (click)="markTaskDone(i, e)" *ngIf="task.id != 0"
                                                    [class.fas]="task.done == true" [class.far]="task.done == false">
                                                </i>
                                            </div>
                                        </div>
                                        <span *ngIf="!subject.tasks || !subject.tasks[0]">No tienes tareas pendientes</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <b>Examenes</b>
                                        <hr class="mt-1">
                                        <div class="card rounded-25 mb-2" *ngFor="let exam of subject.exams"
                                            data-aos="zoom-in">
                                            <div class="card-body d-flex justify-content-between pb-1 pt-1">
                                                <span>{{ exam.title }}</span>
                                                <i class="fas fa-check-circle text-primary mt-1" *ngIf="exam.id != 0"
                                                    [class.fas]="exam.mark >= 0" [class.far]="exam.mark == null">
                                                </i>
                                            </div>
                                        </div>
                                        <span *ngIf="!subject.exams || !subject.exams[0]">No tienes examenes pendientes</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <b>Proyectos</b>
                                        <hr class="mt-1">
                                        <span *ngIf="!subject.projects || !subject.projects[0]">No tienes proyectos pendientes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card rounded-25 bg-dark text-light mb-5" *ngIf="timetable" data-aos="zoom-in">
                <div class="card-header rounded-top-25 d-flex justify-content-between">
                    <h3>Horario
                        <span *ngIf="subjectsOfTomorrow == true">de mañana</span>
                    </h3>
                    <span>{{ dayHour }}</span>
                </div>
                <div class="card-body pb-0 pt-0">
                    <p class="mt-2 text-center" *ngIf="!subjectsOfDay[0]">¡Disfruta del fin de semana!</p>
                    <ng-container *ngIf="subjectsOfDay && subjectsOfDay[0]">
                        <hr class="bg-light">
                        <div *ngFor="let subject of subjectsOfDay; let i=index">
                            <div [routerLink]="['/subject', findSubject(subject.subject_id).id]" class="pointer">
                                <span
                                    [class.subjectNow]="inSubjectTime(this.timetable.hours[i].hour_start, this.timetable.hours[i].hour_end) == true">
                                    {{ findSubject(subject.subject_id).name }}
                                </span>
                                <div class="float-right circle"
                                    [ngStyle]="{ background: findSubject(subject.subject_id).primary_color }"></div>
                            </div>
                            <hr class="bg-light">
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="card rounded-25" *ngIf="!timetable" data-aos="zoom-in">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <b>Tutorial</b>
                        <button type="button" class="close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <hr class="mt-1 mb-1">
                    Parece que aún no has generado un horario, generalo <b class="pointer"
                        routerLink="/timetable">aquí</b>
                </div>
            </div>
        </div>
    </div>
</div>
