<div class="container-fluid mt-4 mb-5" data-aos="zoom-in">
    <div class="row justify-content-center">
        <div class="col-lg-2 mb-4">
            <div class="card rounded-25" data-aos="zoom-in">
                <div class="card-body pb-0">
                    <h1>Asignaturas</h1>
                    <hr>
                    <button class="btn btn-primary btn-sm mb-3 btn-block"
                        (click)="openModal(subjectsModal, 'lg', false)">
                        <i class="fas fa-graduation-cap"></i>
                        Asignaturas
                    </button>
                    <div class="list-group w-100 mb-3">
                        <a class="list-group-item list-group-item-action" *ngFor="let subject of subjects">
                            <div class="row justify-content-between">
                                <h3 class="col-lg-9 mt-1 pointer">
                                    {{ subject.name }}
                                </h3>
                                <div class="col-lg-3">
                                    <button class="btn btn-sm btn-primary rounded-25" *ngIf="subject.id > 0"
                                        [routerLink]="['/subject', subject.id]">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                    <span class="badge badge-warning float-right" container="body" placement="top"
                                        ngbTooltip="Asignatura sin guardar" *ngIf="subject.id == 0">
                                        <i class="fas fa-save"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card rounded-25">
                <div class="card-body">
                    Funcionalidad bloqueada temporalmente
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #subjectsModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir asignaturas</h5>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <button class="btn btn-primary float-right mb-4" (click)="createSubject()">Crear asignatura</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Color</th>
                    <th>Color</th>
                    <th>Porcentajes</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects; let i=index">
                    <td style="width:200px">
                        <input type="text" class="form-control" [(ngModel)]="subject.name" />
                    </td>
                    <td class="p-0">
                        <app-color-picker [color]="subject.primary_color" heading="Principal"
                            (event)="setColor('primary_color', i, $event)">
                        </app-color-picker>
                    </td>
                    <td class="p-0">
                        <app-color-picker [color]="subject.secondary_color" heading="Secundario"
                            (event)="setColor('secondary_color', i, $event)">
                        </app-color-picker>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-block"
                            (click)="openPercentajesModal(percentajesModal, i)">
                            <i class="fas fa-percentage"></i>
                        </button>
                    </td>
                    <td>
                        <ng-container *ngIf="subject.id == 0">
                            <button class="btn btn-primary rounded-25 mr-2" (click)="storeSubject(subject, i)"
                                [disabled]="subject.name == '' || calcTotalPercentage(subject) > 100">
                                <i class="fa fa-save"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteSubjectFront(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="subject.id > 0">
                            <button class="btn btn-secondary rounded-25 mr-2" (click)="updateSubject(subject, i)"
                            [disabled]="subject.name == '' || calcTotalPercentage(subject) > 100">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteSubject(subject.id, i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">
            Cerrar
        </button>
    </div>
</ng-template>

<ng-template #percentajesModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Porcentages</h5>
        <button type="button" class="close" (click)="closePercentageModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <ng-container *ngFor="let i of [1,2,3,4]">
                <div class="col">
                    <ng-container *ngIf="i == 1">
                        <b>Tareas</b>
                        <span class="float-right text-primary">{{ subjects[sSubjectIdx].tasks_percentage }}</span>
                    </ng-container>
                    <ng-container *ngIf="i == 2">
                        <b>Examenes</b>
                        <span class="float-right text-primary">{{ subjects[sSubjectIdx].exams_percentage }}</span>
                    </ng-container>
                    <ng-container *ngIf="i == 3">
                        <b>Proyectos</b>
                        <span class="float-right text-primary">{{ subjects[sSubjectIdx].projects_percentage }}</span>
                    </ng-container>
                    <ng-container *ngIf="i == 4">
                        <b>Comportamiento</b>
                        <span class="float-right text-primary">{{ subjects[sSubjectIdx].behavior_percentage }}</span>
                    </ng-container>
                    <hr>
                    <div class="row">
                        <ng-container *ngFor="let e of [5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]">
                            <div class="col-lg-6 pointer" (click)="setPercentage(i,e)" [class.bg-dark]="isSelected(i,e) == true" [class.text-light]="isSelected(i,e) == true">
                                <span class="small">{{ e }} %</span>
                                <hr class="mt-1 mb-1">
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
        <h2 class="mt-3 mr-2 float-right text-primary">Restante: {{ calcPercentageToBeAssigned() }}</h2>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closePercentageModal()">
            Cerrar
        </button>
    </div>
</ng-template>
