<div class="container mt-4" *ngIf="task">
    <div class="card rounded-25">
        <div class="card-body">

            <button class="btn btn-primary rounded-25 btn-sm float-right" (click)="markAsDoneAll()"
                *ngIf="task.done == false">
                <i class="fas fa-list-alt"></i>
                Marcar como <b>Terminada</b>
            </button>
            <button class="btn btn-primary rounded-25 btn-sm float-right" (click)="markAsDoneAll()"
                *ngIf="task.done == true">
                <i class="fas fa-list-alt"></i>
                Marcar como <b>Sin terminar</b>
            </button>

            <h1>
                <i class="fas fa-check-circle text-primary mt-1" [class.fas]="task.done == true"
                    [class.far]="task.done == false">
                </i>
                {{ task.title }}
            </h1>
            <hr>
            <div class="row">
                <div class="col-lg-2" *ngIf="task.book_id != null">
                    <img [src]="'./assets/images/' + task.book.image" alt="..." class="img-thumbnail"
                        *ngIf="book.pdf_name == null">
                    <img [src]="'./assets/images/' + task.book.image" alt="..." class="img-thumbnail pointer"
                        [routerLink]="['/book/', task.book_id]" *ngIf="book.pdf_name != null">
                </div>
                <div class="col-lg-10">
                    <p [innerHtml]="task.description"></p>
                </div>
            </div>
            <hr *ngIf="task.pages[0]">
            <div class="row">
                <div class="col-lg-8" *ngIf="task.pages[0]">
                    <h3 class="font-weight-bold">Tareas</h3>
                    <hr>
                    <ng-container *ngFor="let page of task.pages; let i=index">
                        <h3>Página
                            <span class="font-weight-bold" *ngIf="book.pdf_name == null">
                                {{ page.number }}
                            </span>
                            <span class="font-weight-bold pointer"
                                [routerLink]="['/book/' + task.book_id + '/' + page.number]"
                                *ngIf="book.pdf_name != null">
                                {{ page.number }}
                            </span>
                        </h3>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 m-2 pointer"
                                *ngFor="let exercise of page.exercises; let e=index;"
                                (click)="markAsDone(exercise.id, i, e)">
                                <span class="badge badge-pill badge-dark p-3">
                                    <p>{{ exercise.number }}</p>
                                    <i class="fas fa-check-circle text-primary fa-lg"
                                        [class.fas]="exercise.done == true" [class.far]="exercise.done == false"></i>
                                </span>
                            </div>
                        </div>
                        <hr>
                    </ng-container>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                    <h1 class="text-light">{{ task.delivery_date }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>