<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" routerLink="home">
            <img src="./assets/images/logo.png" width="128" height="42" class="d-inline-block align-top" alt="Logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation"
            [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
            <div class="navbar-nav mr-auto">
                <ng-container *ngIf="identity">
                    <a class="nav-link" routerLink="home" routerLinkActive="active">
                        <i class="fas fa-home"></i> Inicio
                    </a>

                    <a class="nav-link" routerLink="calendar" routerLinkActive="active">
                        <i class="fas fa-calendar"></i> Calendario
                    </a>
                    <a class="nav-link" routerLink="timetable" routerLinkActive="active">
                        <i class="fas fa-clock"></i> Horario
                    </a>
                </ng-container>
            </div>
            <div ngbDropdown class="d-inline-block" *ngIf="identity">
                <a class="text-light pointer" id="dropdownBasic1" ngbDropdownToggle>
                    <img src="./assets/images/user-image.png" class="avatar-sm mr-1" alt="">
                </a>
                <div ngbDropdownMenu>
                    <a class="dropdown-item" routerLink="/settings" ngbDropdownItem>
                        <i class="fas fa-cog"></i> Ajustes
                    </a>
                    <a class="dropdown-item pointer" (click)="logout()" ngbDropdownItem>
                        <i class="fas fa-sign-out-alt"></i> Salir
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="w-100">
    <div class="bg-dark container-fluid">
        <div class="container text-light">
            <div class="row">
                <div class="col-12 text-center text-sm-left col-sm-8">
                    Copyright © 2019 EPBasic
                </div>
                <div class="col-12 text-center text-sm-right col-sm-4">
                    EPBasic Task v0.0.0
                </div>
            </div>
        </div>
    </div>
</footer>
