<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <br>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miercoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subjectRow of timetable.subjects; let i=index">
                        <td>{{ timetable.hours[i] }}</td>
                        <td *ngFor="let subject of subjectRow">
                            {{ subject.name }}
                            {{ findSubject(subject.subject_id) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">
            <div class="card rounded-25">
                <div class="card-body">
                    <h1>Asignaturas</h1>
                    <hr>
                    <ng-container *ngFor="let subject of subjects">
                        {{ subject.name }}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
