<div class="container-fluid mt-4 mb-5" *ngIf="subject" data-aos="zoom-in">
    <div class="row justify-content-center">

        <div class="col-lg-2 col-md-4 col-12 mb-4">
            <div class="card rounded-25 mb-4" *ngIf="books">
                <div class="card-body pb-0">
                    <button class="btn btn-primary btn-sm mb-3 btn-block rounded-25"
                        (click)="openModal(booksModal, 'lg', false)">
                        <i class="fas fa-book"></i>
                        Libros
                    </button>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 mb-4" *ngFor="let book of books">
                            <div class="card rounded-25 mb-3 shadow-sm" *ngIf="book.pdf_name == null" container="body"
                                placement="top" ngbTooltip="Este libro no tiene PDF asignado">
                                <img [src]="'./assets/images/' + book.image" class="card-img-top rounded-top-25">
                                <p class="card-text text-center m-1"> {{ book.name }}</p>
                            </div>
                            <div class="card rounded-25 mb-3 shadow-sm pointer" [routerLink]="['/book/', book.id]"
                                *ngIf="book.pdf_name != null">
                                <img [src]="'./assets/images/' + book.image" class="card-img-top rounded-top-25">
                                <p class="card-text text-center m-1"> {{ book.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card rounded-25" *ngIf="tasksToDo">
                <div class="card-header rounded-top-25 d-flex justify-content-between">
                    <h2 class="mt-1 mb-1">Tareas</h2>
                </div>
                <div class="card-body pb-0 pt-3">
                    <ng-container *ngIf="tasksToDo[0]">
                        <hr class="mt-0">
                        <div *ngFor="let task of tasksToDo;" class="pointer" [routerLink]="['/task/', task.id]">
                            <div class="card-body d-flex justify-content-between pt-1 pb-1">
                                <span>{{ task.title }}</span>
                                <i class="fas fa-check-circle text-primary mt-1" [class.fas]="task.done == true"
                                    [class.far]="task.done == false">
                                </i>
                            </div>
                            <hr>
                        </div>
                    </ng-container>
                    <p class="text-center" *ngIf="!tasksToDo[0]">¡Felicidades, no tienes tareas!</p>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-8 col-12">
            <div class="card rounded-25 mb-3">
                <div class="card-body pt-0 pb-0 pr-0">
                    <button class="btn btn-primary float-right rounded-right-25 no-rounded-left"
                        (click)="openModal(unitsModal, 'md', false)">
                        <i class="fas fa-list-ol"></i>
                        Unidades
                    </button>
                    <h2 class="mt-2 mb-1">{{ subject.name }}</h2>
                </div>
            </div>

            <div class="accordion mb-4">
                <ng-container *ngFor="let unity of units; let i=index; let fst=first; let lst=last;">
                    <div class="card" [class.rounded-top-25]="fst == true" [class.rounded-bottom-25]="lst == true">
                        <div class="card-header pointer" (click)="collapse(i)">
                            <h3 class="m-1">
                                Unidad {{ unity.number }}
                                <span class="badge badge-warning float-right" container="body" placement="top"
                                    ngbTooltip="Unidad sin guardar" *ngIf="unity.id == 0">
                                    <i class="fas fa-save"></i>
                                </span>
                            </h3>
                        </div>

                        <div class="collapse show" [ngbCollapse]="isCollapsed(i)">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="d-flex justify-content-between">
                                            <h3>Tareas</h3>
                                            <button class="btn btn-primary btn-sm mb-3" placement="top"
                                                ngbTooltip="Guarda la unidad para poder añadir tareas"
                                                *ngIf="!books[0] || unity.id == 0" disabled>
                                                <i class="fas fa-tasks"></i>
                                                Tareas
                                            </button>
                                            <button class="btn btn-primary btn-sm mb-3"
                                                *ngIf="books[0] && unity.id != 0"
                                                (click)="openModal(tasksModal, 'lg', false)">
                                                <i class="fas fa-tasks"></i>
                                                Tareas
                                            </button>
                                        </div>
                                        <hr class="mt-0">
                                        <ng-container *ngIf="tasks && tasks[0]">
                                            <div class="card rounded-25 mb-2" *ngFor="let task of tasks; let i=index"
                                                data-aos="zoom-in">
                                                <div class="card-body d-flex justify-content-between pb-1 pt-1"
                                                    *ngIf="task.id != 0">
                                                    <div class="col-lg-10 pointer pl-0"
                                                        [routerLink]="['/task/', task.id]">
                                                        <span>{{ task.title }}</span>
                                                    </div>

                                                    <i class="fas fa-check-circle text-primary mt-1 pointer"
                                                        (click)="markTaskDone(i)" *ngIf="task.id != 0"
                                                        [class.fas]="task.done == true"
                                                        [class.far]="task.done == false">
                                                    </i>
                                                </div>
                                                <div class="card-body d-flex justify-content-between pb-1 pt-1"
                                                    *ngIf="task.id == 0">
                                                    <span>{{ task.title }}</span>
                                                    <span class="badge badge-warning float-right" container="body"
                                                        placement="top" ngbTooltip="Tarea sin guardar">
                                                        <i class="fas fa-save"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <span *ngIf="!tasks || !tasks[0]">No hay tareas en esta unidad</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="d-flex justify-content-between">
                                            <h3>Exámenes</h3>
                                            <button class="btn btn-primary btn-sm mb-3"
                                                (click)="openModal(examsModal, 'lg', false)">
                                                <i class="fas fa-check-double"></i>
                                                Exámenes
                                            </button>
                                        </div>
                                        <hr class="mt-0">
                                        <ng-container *ngIf="exams && exams[0]">
                                            <div class="card rounded-25 mb-2" *ngFor="let exam of exams"
                                                data-aos="zoom-in">
                                                <div class="card-body d-flex justify-content-between pb-1 pt-1">
                                                    <span>{{ exam.title }}</span>
                                                    <span class="badge badge-warning float-right" container="body"
                                                        *ngIf="exam.id == 0" placement="top"
                                                        ngbTooltip="Examen sin guardar">
                                                        <i class="fas fa-save"></i>
                                                    </span>
                                                    <i class="fas fa-check-circle text-primary mt-1"
                                                        *ngIf="exam.id != 0" [class.fas]="exam.mark >= 0"
                                                        [class.far]="exam.mark == null">
                                                    </i>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <span *ngIf="!exams || !exams[0]">No hay examenes en esta unidad</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="d-flex justify-content-between">
                                            <h3>Proyectos</h3>
                                            <button class="btn btn-primary btn-sm mb-3"
                                                (click)="openModal(projectsModal, 'lg', false)">
                                                <i class="fas fa-project-diagram"></i>
                                                Proyectos
                                            </button>
                                        </div>
                                        <hr class="mt-0">
                                        <span>No hay proyectos en esta unidad</span>
                                    </div>
                                    <div class="col-lg-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!-- *********
    MODALS
*************** -->

<ng-template #booksModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir libros</h5>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <button class="btn btn-primary float-right mb-4" (click)="createBook()">Nuevo libro</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Páginas</th>
                    <th>Imagen</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; let i=index">
                    <td class="col-lg-5">
                        <input type="text" class="form-control" [(ngModel)]="book.name" />
                    </td>
                    <td class="col-lg-2">
                        <input type="number" class="form-control" [(ngModel)]="book.pages_quantity" />
                    </td>
                    <td class="col-lg-1 pointer" (click)="openImagePickerModal(imagePickerModal, i)">
                        <img [src]="'./assets/images/' + book.image" alt="..." class="img-thumbnail">
                    </td>
                    <td class="pointer" (click)="openPDFUploaderModal(pdfUploaderModal, i)">
                        <h1>PDF <i class="fas fa-file-pdf"></i></h1>
                    </td>
                    <td class="col-lg-2">
                        <ng-container *ngIf="book.id == 0">
                            <button class="btn btn-primary rounded-25 mr-2" (click)="storeBook(book, i)">
                                <i class="fa fa-save"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteBookFront(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="book.id > 0">
                            <button class="btn btn-secondary rounded-25 mr-2" (click)="updateBook(book, i)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteBook(book.id, i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">
            Cerrar
        </button>
    </div>
</ng-template>

<ng-template #unitsModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir unidades</h5>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <button class="btn btn-primary float-right mb-4" (click)="createUnity()">Nueva unidad</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Numero de unidad</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let unity of units; let i=index">
                    <td class="col-lg-2">
                        <input type="number" class="form-control" [(ngModel)]="unity.number" />
                    </td>
                    <td class="col-lg-2">
                        <ng-container *ngIf="unity.id == 0">
                            <button class="btn btn-primary rounded-25 mr-2" (click)="storeUnity(unity, i)">
                                <i class="fa fa-save"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteUnityFront(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="unity.id > 0">
                            <button class="btn  rounded-25 mr-2" (click)="setCurrentUnity(i)"
                                [class.btn-primary]="subject.current_unity != unity.id"
                                [class.btn-dark]="subject.current_unity == unity.id">
                                <i class="fas fa-check"></i>
                            </button>

                            <button class="btn btn-secondary rounded-25 mr-2" (click)="updateUnity(unity, i)">
                                <i class="fas fa-pen"></i>
                            </button>

                            <button class="btn btn-danger rounded-25"
                                (click)="openUnityDeleteModal(unityDeleteModal, i)"
                                *ngIf="unity.tasks && unity.tasks[0]">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteUnity(unity.id, i)"
                                *ngIf="!unity.tasks || !unity.tasks[0]">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">
            Cerrar
        </button>
    </div>
</ng-template>

<ng-template #tasksModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir tareas</h5>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <button class="btn btn-primary float-right mb-4" (click)="createTask()">Nueva tarea</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-lg-5">Datos principales</th>
                    <th class="col-lg-3">Ejercicios</th>
                    <th class="col-lg-2">Entrega</th>
                    <th class="col-lg-2">#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks; let i=index">
                    <td>
                        <input type="text" class="form-control mb-2" [(ngModel)]="task.title" />
                        <textarea class="form-control" rows="2" [(ngModel)]="task.description"></textarea>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-block" [disabled]="task.id != 0"
                            (click)="openExercisesModal(exercisesModal, i)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm rounded-25" [disabled]="task.id != 0"
                            (click)="openDateSelectorModal(dateSelectorModal, i, 1)">
                            <i class="far fa-calendar-check"></i>
                            Seleccionar
                        </button>
                    </td>
                    <td>
                        <ng-container *ngIf="task.id == 0">
                            <button class="btn btn-primary rounded-25 mr-2" (click)="storeTask(task, i)"
                                [disabled]="task.title == ''">
                                <i class="fa fa-save"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteTaskFront(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="task.id > 0">
                            <button class="btn btn-secondary rounded-25 mr-2" (click)="updateTask(task, i)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteTask(task.id, i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">
            Cerrar
        </button>
    </div>
</ng-template>

<ng-template #examsModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir exámenes</h5>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <button class="btn btn-primary float-right mb-4" (click)="createExam()">Nuevo examen</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-lg-5">Titulo</th>
                    <th class="col-lg-2">Nota</th>
                    <th class="col-lg-3">Fecha examen</th>
                    <th class="col-lg-2">#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams; let i=index">
                    <td>
                        <input type="text" class="form-control mb-2" [(ngModel)]="exam.title" />
                    </td>
                    <td>
                        <input type="number" class="form-control mb-2" max="10" min="0" [(ngModel)]="exam.mark" />
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm rounded-25" [disabled]="exam.id != 0"
                            (click)="openDateSelectorModal(dateSelectorModal, i, 2)">
                            <i class="far fa-calendar-check"></i>
                            Seleccionar
                        </button>
                    </td>
                    <td>
                        <ng-container *ngIf="exam.id == 0">
                            <button class="btn btn-primary rounded-25 mr-2" (click)="storeExam(exam, i)"
                                [disabled]="exam.title == ''">
                                <i class="fa fa-save"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteExamFront(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="exam.id > 0">
                            <button class="btn btn-secondary rounded-25 mr-2" (click)="updateExam(exam, i)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-danger rounded-25" (click)="deleteExam(exam.id, i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">
            Cerrar
        </button>
    </div>
</ng-template>

<ng-template #projectsModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir projectos</h5>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">
            Cerrar
        </button>
    </div>
</ng-template>

<ng-template #imagePickerModal let-close="close">
    <div class="modal-body">
        <div class="colors">
            <div class="row">
                <div class="col-6" (click)="selectImage(image)" *ngFor="let image of images">
                    <img [src]="'./assets/images/' + image" alt="..." class="img-thumbnail pointer">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #exercisesModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Añadir ejercicios</h5>
        <button type="button" class="close" (click)="closeExercisesModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <b>Seleccionar libro</b>
        <hr>
        <div class="row mb-4">
            <div class="col-3" (click)="selectBook(book.id)" *ngFor="let book of books">
                <img [src]="'./assets/images/' + book.image" alt="..." class="img-thumbnail pointer"
                    [class.bg-dark]="tasks[sTaskIdx].book_id == book.id">
            </div>
        </div>
        <b>Ejercicios</b>
        <button class="btn btn-primary btn-sm float-right" (click)="createPage()"
            [disabled]="tasks[sTaskIdx].book_id == null">
            Añadir página
        </button>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Página</th>
                    <th>Ejercicios</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let page of tasks[sTaskIdx].pages; let i=index">
                    <td class="col-lg-3 col-md-3 col-sm-3">
                        <input type="number" class="form-control" [(ngModel)]="page.number" />
                    </td>
                    <td class="col-lg-7 col-md-7 col-sm-7">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 ml-2 mb-2"
                                *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">
                                <div class="chip" (click)="selectExercise(number, i)"
                                    *ngIf="findExercise(number, i) == -1">
                                    <p>{{ number }}</p>
                                </div>
                                <div class="chip bg-dark text-light" (click)="deleteExercise(number, i)"
                                    *ngIf="findExercise(number, i) != -1">
                                    <p>{{ number }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-lg-2 col-md-2">
                        <ng-container *ngIf="page.id == 0">
                            <button class="btn btn-danger rounded-25" (click)="deletePageFront(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeExercisesModal()">
            Cerrar
        </button>
    </div>
</ng-template>

<ng-template #pdfUploaderModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Subir PDF</h5>
        <button type="button" class="close" (click)="closePDFUploaderModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ml-3 mb-3" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
            [uploadInput]="uploadInput">
            <div class="row">
                <div class="col custom-file">
                    <input class="custom-file-input" type="file" ngFileSelect [options]="options"
                        (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                    <label class="custom-file-label" for="customFile">Seleccionar PDF</label>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary rounded ml-2" (click)="startUpload('pdf/upload')">
                        <i class="fas fa-upload"></i>
                        Subir
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #unityDeleteModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Eliminar unidad</h5>
        <button type="button" class="close" (click)="closeUnityDeleteModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span class="small">Al eliminar esta unidad se eliminarán todas las tareas, exámenes y proyectos de esta.</span>
        <hr>
        <div class="d-flex justify-content-center">
            <button class="btn btn-danger rounded-25" (click)="deleteUnity(this.units[sUnityIdx].id, sUnityIdx)">
                <i class="fa fa-trash mr-1"></i> Confirmar
            </button>
        </div>
    </div>
</ng-template>

<ng-template #dateSelectorModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Seleccionar día</h5>
        <button type="button" class="close" (click)="closeDateSelectorModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="timetable table-responsive mb-4" *ngIf="timetable && subjects" data-aos="zoom-in">
            <tr class="days">
                <th></th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
            <tr *ngFor="let subjectsRow of timetable.subjects; let i=index">
                <th class="th bg-dark">
                    {{ timetable.hours[i].hour_start + ' - ' + timetable.hours[i].hour_end }}
                </th>
                <ng-container *ngFor="let tSubject of subjectsRow; let e=index">
                    <td class="td bg-dark text-center" *ngIf="tSubject.subject_id != subjectId">
                        {{ findSubject(tSubject.subject_id).name }}
                    </td>
                    <td class="td bg-secondary text-center pointer" *ngIf="tSubject.subject_id == subjectId" (click)="selectTSubject(i, e)">
                        {{ findSubject(tSubject.subject_id).name }}
                    </td>
                </ng-container>
            </tr>
        </table>

        <div class="row">
            <div class="col" *ngFor="let selectableDay of selectableDays">
                {{ selectableDay.day }} del {{ selectableDay.month }} de {{ selectableDay.year }}
                <hr>
                <button class="btn btn-sm btn-block btn-primary mt-2 mb-2"
                (click)="setDate(selectableDay)">Seleccionar</button>
            </div>
        </div>
    </div>
</ng-template>
